[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "http://fstab.net/pypi/simple"
verify_ssl = false
name = "fstab.net"

[packages]
stlib = {git = "https://github.com/altendky/stlib", editable = true}
canmatrix = {git = "https://github.com/ebroecker/canmatrix", editable = true, ref = "development"}
javabridge = {git = "https://github.com/LeeKamentsky/python-javabridge", editable = true}
ccstudiodss = {git = "https://github.com/altendky/ccstudiodss", editable = true}
"e1839a8" = {path = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.6"
